<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding fade-in" [style.backgroundImage]="'url(assets/img/fondo4.jpg)'">
  <div class="nosotros-container">
    <!-- Imagen arriba -->
    <img src="assets/img/sobre-nosotros.png" alt="Sobre Nosotros" class="nosotros-img" />

    <h2>Restaurante ComoEnCasa</h2>
    <p>
      Fundado en 1988 por una familia trabajadora de Buin, ComoEnCasa nace del amor por la cocina tradicional chilena.
      Nuestra misión es ofrecer platos caseros con ingredientes frescos, atención cálida y un ambiente acogedor.
    </p>
    <p>
      A lo largo de los años, hemos mantenido nuestras raíces, creciendo junto a la comunidad y conservando el sabor de casa.
    </p>
  </div>
</ion-content>
