<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Platos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding fade-in" [style.backgroundImage]="'url(assets/img/fondo3.jpg)'">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let plato of platos">
        <ion-card>
          <img [src]="plato.imagen" [alt]="plato.nombre" />
          <ion-card-header>
            <ion-card-title>{{ plato.nombre }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ plato.descripcion }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
